.card {
  border: 1px;
  width: 300px;
  height: 500px;
  margin: auto;
  border-radius: 10px;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}
.topsuit {
  margin: 0;
  align-self: flex-start;
}
.bottomsuit {
  margin: 0;
  align-self: flex-end;
  transform: rotate(180deg);
}
.red {
  color: red;
}
body {
  background-color: green;
}
